<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Muirkirk Angling Association Store, <%= firstName %></title>
    <link rel="stylesheet" href="styles/Globals.css" />
  </head>
  <body>
<header>
    <h1>Muirkirk Angling Association</h1>     
  <nav>
        <button><a href="/login" title="Log In to your account">Log In</a></button>
        <button><a href="/" title="Back to Store homepage">Home</a></button>
      </nav>
      </header>
    <main>
      <div class="container">
        <div class="info">
          <h2>Welcome!</h2>
          <h3>Hello, <%= firstName %> <%= lastName %>!</h3>
          <h3>You are logged in as a <%= permitType %> permit holder.</h3>

          <% if (displayPaymentOption) { %>
          <div>
            <h3 class="renewals">Your 2025 renewal price is £<%= renewalPrice %></h3>
          </div>
          <div>
            <h3><b>Pay for your permit by bank transfer</b></h3>
            <h3><b>Bank:</b> Your Bank Name</h3>
            <h3><b>Sort Code:</b> 12-34-56</h3>
            <h3><b>Account Number:</b> 12345678</h3>          
            
            </form>
          </div>
          <% } else { %>
          <p>Sorry, we couldn't find your Season 2024 Permit.</p>
          <% } %>

          <!-- Logout Button -->
          <form action="/logout" method="get">
            <button type="submit" title="Log out of your account and return to the login page.">
              Logout
            </button>
          </form>

          <h2>
            <div id="timer" style="font-size: 1.2em; font-weight: bold; color: #d9534f">
              You will automatically be logged out in 10:00 minutes.
            </div>
          </h2>
        </div>
      </div>
    </main>
  <footer>&copy; Muirkirk Angling Association 2025</footer>
  </body>
</html>
